ul {
    color: blue;
    background-color:#d7d4d4;
    width: 100%;
    text-align: center;
}

li {
    border: 1px solid;
    border-radius: 5px; 
}

li:hover {
    background-color: grey;
}

.ultimoItem {
    color:rgb(85, 189, 85);
    font-style:italic;
}