#cabecalho {
    border: 1px solid;
    padding: 20px;
    text-align: center;
}

#conteudo {
    margin: 20px;
    background-color: rgb(234, 191, 134);
    font-family: Arial, Helvetica, sans-serif;
}

.paragrafosDestaque {
    padding: 20px;
    color:rgb(89, 80, 98);
    border-left: 2px solid;
    
}

.botao {
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.clique {
    background-color: coral;
}

.saiba {
    background-color: #5076ff;
}
