body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px, 24px;
    background-color: cadetblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px
    ;
}

button:hover {
    background-color: rgb(80, 119, 119);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ccc;
    margin: 5px;
    padding: 10px;
    border: 5px; 
}

ul li:nth-child(even){
    background-color: #bbb;
}